.bg-my {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.header-font {
    font-family: 'Courier New', monospace;
    font-weight: bolder;
}

header span {
    color: white;
}

header .btn:active, header .btn:hover {
    color: #f69d3c !important;
}